# Milvus Credentials
MILVUS_HOST=localhost
MILVUS_PORT=19530
MILVUS_USER=""     #"db_admin"
MILVUS_PASSWORD="" #your_super_secret_password"

# MinIO Credentials (The "S3" keys)
MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=a-bucket #default bucket for storing Milvus data
